    .login-bg {
        background-color: #479ba5f0;
        background-image: url(../../../../assets/images/login-watermark.png);
        background-repeat: no-repeat;
        background-position: 0;
    }

    .login-form-group {
        height: 100vh;
        width: 50vw;
        position: absolute;
        top: 0;
        justify-content: center;
        align-items: center;
        right: 0;
        background: white;
        border-radius: 80px 0 0 80px;
    }

    .login-form-card {
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
    }

    .login-button {
        width: 100%;
        background-color: var(--ss-primary-color);
        border-color: var(--ss-primary-color);
        text-transform: uppercase;
    }

    .login-form-heading {
        text-transform: uppercase;
        color: var(--ss-primary-color);
        margin-bottom: 3rem;
    }

    .login-form-label {
        color: var(--ss-primary-color);
    }

    .login-info-group {
        height: 100vh;
        width: 50vw;
        position: absolute;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
    }

    .login-info-card {
        background: none;
        border: none;
        justify-content: center;
        align-items: center;
    }

    .login-brand-logo,
    .login-dha-logo {
        fill: var(--ss-white-color);
        width: 300px;
    }

    .login-info-label {
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
    }

    .login-info-label span {
        color: var(--ss-white-color);
    }
    .hover:hover{
        color: #10737e;
    }
        @media (max-width: 767px) {
        .login-form-group{
width: 100vw;
border-radius: 0;
        }
    }