<br>
<br>
<br>
<br>
<br>
<br>
<div class="login-bg  d-flex flex-row align-items-center">
    <c-container style="width: 500px;">
        <c-row class="justify-content-start">
            <c-col xs="12">
                <c-card-group class="login-form-group">
                    <c-card class="p-4 login-form-card">
                        <c-card-body>
                            <form cForm #formdemo="ngForm">
                                <h3 class="login-form-heading">Forget Password</h3>

                             
                                <label cLabel class="login-form-label" for="formControlname">Email </label>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>@
                                    </span>
                                    <input [(ngModel)]="email" autocomplete="off" cFormControl
                                        placeholder="Enter email" type="email" required name="stockBuy"
                                        id="formControlname"  />
                                </c-input-group>
                                
                             

                                <c-row>
                                    <c-col xs="12">
                                        <button cButton class="px-4 login-button" type="submit" (click)="onSubmit(formdemo)"
                                            style="float: right;">
                                            Submit
                                        </button>
                                    </c-col>
                                </c-row>

                            </form>
                        </c-card-body>
                    </c-card>

                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>