<div class="rootLoader" *ngIf="isLoading(); else loaded">
  <c-row
    class="text-center loading"
    style="
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    "
  >
    <c-spinner style="color: #148a98"></c-spinner>
  </c-row>
</div>
<ng-template #loaded>
<div class="container_1900" style="margin: 0;    min-width: calc(100vw - 313px);">
    <c-row ngPreserveWhitespaces>
        <div class="row">
            <div class="col-12 col-md-6 d-flex align-items-center">
                <input
                    type="date"
                    [(ngModel)]="startDate"
                    placeholder="Start Range"
                    class="search  mb-3"
                    style="height: 2.3rem; margin-right: 1rem;"
                />
                <input
                    type="date"
                    [(ngModel)]="endDate"
                    placeholder="End Range"
                    class="search  mb-3"
                    style="height: 2.3rem;margin-right: 1rem;"
                />
                <button cButton class="btn  mb-3"
                    style="background-color:#148a98;color:white;border:1px solid #148A98;"
                    (click)="getFilterdSales(startDate,endDate)">
                    Filter
                </button>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                
        
                <button cButton class="btn mr-1 mb-3"
                    style="background-color:#148a98;color:white;border:1px solid #148A98;margin-right: 1rem"
                    (click)="loadexportdata()">
                    <i class="fa-solid fa-file-export"></i> Export
                </button>
        
                <button cButton class="btn mr-1 mb-3"
                    style="background-color:#148a98;color:white;border:1px solid #148A98;"
                    (click)="addSale()">
                    Add Sale
                </button>
            </div>
        </div>
        
        <c-col xs="12" class="custom-font">
            <c-card class="mb-4 box-shadow">
            <!-- <span><label cLabel class="login-form-label" for="errorMsg" style="color:red"
                    *ngIf="errorMsg">{{errorMsg}}</label></span> -->
            <c-card-header class="custom-card">
                <strong>Sales</strong><small></small>
                 <div style="float: right">
              <select class="selctionBox" (change)="selectedOption($event)">
                <option value="all">All</option>
                <option value="code">SaleId</option>
              </select>
              <input
                type="text"
                [(ngModel)]="filterBy"
                placeholder="Search..."
                (keyup)="filter()"
                class="search"
              />
            </div>
            </c-card-header>
            <c-card-body>
            <div style="overflow-x:auto;">
                <table cTable hover id="myTable">
   
                    <thead>
                        <tr>
            
                        </tr>
                        <tr style="text-align:center">
                            <th scope="col" style="cursor: pointer;" (click)="sort('saleId')">Sale Id</th>
                            <th scope="col" style="cursor: pointer;" (click)="sort('createdAt')" >Date</th>
                            <th scope="col" style="cursor: pointer;" (click)="sort('createdAt')">Time</th>
                            <th scope="col" style="cursor: pointer;" (click)="sort('discount')">discount</th>
                            <th scope="col" style="cursor: pointer;" (click)="sort('totalAmount')">Total Amount  </th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                   <tbody style="vertical-align: middle;text-align: center;"
                                *ngIf="sales.length > 0; else NoData">
                                <tr *ngFor="let sale of filteredSales | sortBy: sortDirection:sortField| paginate
                                : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count
                                  };
                            let i = index">
                            <td>{{sale.saleId }}</td>
                            <!-- <td>{{i+1  + (tableSize * (page - 1)) }}</td> -->
                            <td>{{this.apiService.getDateFormat(sale.createdAt)}}</td>
                            <td>{{this.apiService.getTime(sale.createdAt)}}</td>
                            <td>{{sale.discount}}</td>
                            <td>{{sale.totalAmount}}</td>
                            
                            <td>
                                <!-- Call to action buttons -->
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <button class="btn btn-outline-primary btn-sm rounded" type="button" data-toggle="tooltip" data-placement="top" title="Edit" [routerLink]="['/sales/edit', sale._id]">
                          <i class="fa-solid fa-pen-to-square" style="color:rgb(48, 85, 154)"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-outline-success btn-sm rounded" type="button" data-toggle="tooltip" data-placement="top" title="View" (click)="viewSale(sale._id)">
                          <i class="fa-solid fa-eye" style="color:#2bb057;"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-outline-danger btn-sm rounded" type="button" data-toggle="tooltip" data-placement="top" title="Delete" (click)="confirmDialog(sale._id)">
                         <i class="fa-solid fa-trash" style="color:rgb(167, 38, 38)"></i></button>
                                    </li>
                                    <li class="list-inline-item">
                                        <button class="btn btn-outline-warning btn-sm rounded" type="button" data-toggle="tooltip" data-placement="top" title="export" (click)="exportProductList(sale._id)">
                                
                        <i class="fa-solid fa-file-arrow-down" style="color: #FFC107;"></i> </button>
                                    </li>
                                </ul>
                            </td>
                        </tr>

                    </tbody>
                    <ng-template #NoData>
                        <tbody>
                            <tr>
                                <td colspan="16" style="text-align: center; color:#148a98;">No Sales 
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </table>
            </div>
             <p style="float: left; margin-bottom: 0;" *ngIf="sales.length > 0"><span style="font-weight:bold;color: #148A98;margin-right: 3px;">Total Sales : {{this.sales.length}}
                </span>
            </p>
            </c-card-body>
            </c-card>
        </c-col>
    </c-row>
    <br />
<c-row>
        <c-col class="col-lg-10 col">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
            </pagination-controls>
        </c-col>
        

    </c-row>


</div>
</ng-template>

<div class="invoice-format" >
    <div class="invoice-format" *ngIf="invoiceDetails">
      <app-invoice-format
        class="invoice-format"
        [invoiceDetails]="invoiceDetails"></app-invoice-format>
    </div>
</div>