<br>
<br>
<br>
<br>
<br>
<div class="login-bg  d-flex flex-row align-items-center">
    <c-container style="width: 500px;">
        <c-row class="justify-content-start">
            <c-col xs="12">
                <c-card-group class="login-form-group">
                    <c-card class="p-4 login-form-card">
                        <c-card-body>
                            <form cForm #formdemo="ngForm" ngNativeValidate>
                                <h3 class="login-form-heading">Change Password</h3>
                    
                                <!-- <label cLabel class="login-form-label" for="formControlUsername">Old Password</label>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                   
                                    <input [(ngModel)]="userData.oldPassword" autocomplete="off" name="username"  id="formControlPassword" cFormControl placeholder="Old Password" value="" type="password" required/>
                                </c-input-group> -->

                                <label cLabel class="login-form-label" for="formControlPassword">New Password</label>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <!-- <input name="password" autoComplete="current-password" cFormControl id="formControlPassword" placeholder="New Password" type="password" value=""/> -->
                                    <input [(ngModel)]="userData.newPassword" autocomplete="off" name="username"  id="formControlPassword2" cFormControl placeholder="New Password" value="" type="password" required/>
                                    <!-- <span cInputGroupText (click)="x.type=x.type=='password'?'text':'password'">
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span> -->
                                </c-input-group>

                                <label cLabel class="login-form-label" for="formControlPassword1">Confirm Password</label>
                                <c-input-group class="ss-mb-2">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input  name="password" autocomplete="off" [(ngModel)]="userData.consfirmPassword" cFormControl id="formControlPassword1" placeholder="Confirm Password" type="password" value="" required/>
                                </c-input-group>

                                <c-alert color="success" class="ss-mb-2" *ngIf="alert.showSuccuss">Password has been changed.</c-alert>

                                <c-alert color="danger" *ngIf="alert.showError">Unable to change Password. Please verify Old Password.</c-alert>

                                <c-alert color="danger" *ngIf="userData.show">Unable to change Password. Password & Confirm Password does not match.</c-alert>

                                <c-row>
                                    <c-col xs="12">
                                        <button cButton class="px-4 login-button" type="submit" (click)="onSubmit(formdemo)">
                                            Update
                                        </button>
                                    </c-col>
                                </c-row>
                                
                            </form>
                        </c-card-body>
                    </c-card>

                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>