<div class="login-bg  d-flex flex-row align-items-center">
    <c-container style="width: 500px;">
        <c-row class="justify-content-start">
            <c-col xs="12">
                <c-card-group class="login-form-group">
                    <c-card class="p-4 login-form-card">
                        <c-card-body>
                            <form cForm #formdemo="ngForm">
                                <h3 class="login-form-heading">Add Receiving</h3>

                                <label cLabel class="login-form-label" for="formControlcategory">Product</label>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
             
                                    <select cSelect  name="dropdown" class="inputDateColor"
                                        style="width:fit-content;display: inline-block;" (change)="selectedOption($event)" required>
                                        <option value="" disabled selected>Please Select Product...</option>
                                        <option [value]="product.id" 
                                            *ngFor="let product of products">{{product.name}}
                                        </option>
                                    </select>
                                </c-input-group>
                                <label cLabel class="login-form-label" for="formControlname">Stock Buy</label>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input [(ngModel)]="receiving.stockBuy" autocomplete="off" cFormControl
                                        placeholder="Stock Buy" type="number" required name="stockBuy"
                                        id="formControlname"  />
                                </c-input-group>
                                <label cLabel class="login-form-label" for="formControlprice">Discount</label>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input [(ngModel)]="receiving.discount" autocomplete="off" cFormControl
                                        placeholder="Discount" type="number" required name="discount"
                                        id="formControlprice" />
                                </c-input-group>
                                <label cLabel class="login-form-label" for="formControlunit">Total Amount</label>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg cIcon name="cilLockLocked"></svg>
                                    </span>
                                    <input [(ngModel)]="receiving.totalAmount" autocomplete="off" cFormControl
                                        placeholder="Total Amount" type="number" required name="totalAmount"
                                        id="formControlunit" />
                                </c-input-group>

                                <c-row>
                                    <c-col xs="12" class="btn-center">
                                        <button cButton class="px-4 login-button" type="submit" (click)="onSubmit(formdemo)"
                                            >
                                            Add
                                        </button>
                                    </c-col>
                                </c-row>

                            </form>
                        </c-card-body>
                    </c-card>

                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>