.background{
    background-color: #479ba5f0 !important;
    background-image: url(../../../../assets/images/login-watermark.png);
    background-repeat: no-repeat;
    background-position: 0;
}
.login-button {
    width: 100%;
    background-color: #1a909d;
    border-color: #095d66;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}
.login-form-label {
    color: var(--ss-primary-color);
}
.hover:hover {
    color: #10737e;
}